/* © 2023 DJS */ 
 
 
 
cmp-win-one-liners { 
	display: block;
	padding: 20px;
 
} 
	cmp-win-one-liners .clc { 

	} 
		cmp-win-one-liners .clc:hover { 
			color: yellow; 
		} 
 
 
 
 
cmp-win-one-liners .each { 
	margin: 0 0 20px 0;
	color: #fff;
} 
 
 
 
 
 
