cmp-win-err404 {
	all: unset;
	display: block;

	padding: 10px 50px;
	border-radius: 10px;
	/*font-family: Courier;*/
	font-weight: bold;
	background-color: red;
	background: linear-gradient( to bottom, #000, #f00 );
	color: #fff;
}












