cmp-aside {

	display: block;
	margin: 0 5px 0 0;

	font-family: Courier;
	color: lime;

	width: 200px;


}
	cmp-aside .btn {
		margin: 0 0 2px 0;
		padding: 1px 5px;

		background: linear-gradient( to bottom, #000, #099 );



		border-radius: 5px;
		font-family: Courier;
		text-align: center;
		color: #fff;
		cursor: pointer;

	}
		cmp-aside .btn:hover {
			color: yellow;
		}


	cmp-aside .btn.active {
		background: linear-gradient( to bottom, #009, #099 );
		color: #fff;
	}



